@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Domine", sans-serif;
  @apply text-gray-500;
}

.scale_logo_image {
  object-fit: scale-down;
  width: 120px;
}

.scale_arrow_image {
  object-fit: scale-down;
  width: 100px;
}

.scale_homepage_image {
  object-fit: scale-down;
  width: 575px;
  border-radius: 1%;
}

.scale_benefits_image {
  object-fit: scale-down;
  width: 490px;
  border-radius: 1%;
}